/* Указываем box sizing */
*,
*::before,
*::after {
box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
html, body {
min-height: 100vh;
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
line-height: 1.5;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
text-decoration-skip-ink: auto;
}
a{
   text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
max-width: 100%;
display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
font: inherit;
}
/*=======================================================*/
html, body{
   height: 100%;
   font-size: 18px;
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-weight: 400;
   color: #4e4e4e;
   background: #fff;
   text-rendering: optimizeLegibility;
}
#app{
   min-height: 100%;
   position: relative;
}
._wrapper{
   position: absolute;
   left: 0;
   right: 0;
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
._container-big{
   padding-right: 30px;
   padding-left: 30px;
}
._container-small{
   padding-right: 90px;
   padding-left: 90px;
}
._ibg{
   position: relative;
}
._ibg img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}
._lock{
   overflow: hidden;
}
.main{
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}
.title-h1{
   text-align: center;
   margin: 40px 0;
}
.logo {
   font-size: 1.55rem;
}